# 1. Ignore everything by default
/*

# 2. Whitelist the config folders you want to track
!/hypr/
!/hypr/**
!/lists/
!/rofi/
!/rofi/**
!/waybar/
!/waybar/**
!/kitty/
!/kitty/**
!/fastfetch/
!/fastfetch/**
!/dunst/
!/dunst/**
!/spicetfy/
!/spicetfy/**
!/cava/
!/cava/**

# 3. Track the gitignore file itself
!.gitignore

# 4. Security block
*.log
*.token
*.key
*.secret
*credentials*
!.zshrc
!README.md
!install.sh

