# 1. Ignore everything by default
/*

# 2. Hyprland & Core Desktop UI
!/hypr/
!/hypr/**
!/waybar/
!/waybar/**
!/rofi/
!/rofi/**
!/swaync/
!/swaync/**
!/wlogout/
!/wlogout/**
!/wallust/
!/wallust/**
!/panel-colorizer/
!/panel-colorizer/**
!/matugen/
!/matugen/**
!/quickshell/
!/quickshell/**
!/cosmic/
!/cosmic/**

# 3. Theming & Displays (GTK / Qt)
!/gtk-3.0/
!/gtk-3.0/**
!/gtk-4.0/
!/gtk-4.0/**
!/qt5ct/
!/qt5ct/**
!/qt6ct/
!/qt6ct/**
!/Kvantum/
!/Kvantum/**
!/nwg-look/
!/nwg-look/**
!/nwg-displays/
!/nwg-displays/**

# 4. Terminals, Shells & CLI Utilities
!/kitty/
!/kitty/**
!/ghostty/
!/ghostty/**
!/wezterm/
!/wezterm/**
!/foot/
!/foot/**
!/nvim/
!/nvim/**
!/fastfetch/
!/fastfetch/**
!/cava/
!/cava/**
!/btop/
!/btop/**
!/yazi/
!/yazi/**
!/bat/
!/bat/**
!/starship/
!/starship/**
!starship.toml
!/zshrc.d/
!/zshrc.d/**
!p10k.zsh
!.zshrc
!/fish/
!/fish/**
!/tmux/
!/tmux/**
!/tmuxp/
!/tmuxp/**
!/atuin/
!/atuin/**
!/lazygit/
!/lazygit/**
!/lazydocker/
!/lazydocker/**

# 5. Screenshots, Audio & Tools
!/swappy/
!/swappy/**
!/satty/
!/satty/**
!/spicetify/
!/spicetify/**
!/easyeffects/
!/easyeffects/**
!/fuzzel/
!/fuzzel/**
!/lists/
!/lists/**
!/vmcopy/
!/vmcopy/**

# 6. Repo Management & Scripts
!.gitignore
!README.md
!install.sh

# 7.Terminal files 
!.zshrc
!.bashrc

# 8. Security & Cache Exclusions
*.log
*.token
*.key
*.secret
*credentials*
*.db
*.tmp
