 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #636466;
active-foreground: #DCDDDD;
normal-background: #181818;
normal-foreground: #DCDDDD;
urgent-background: #8B8C8E;
urgent-foreground: #DCDDDD;

alternate-active-background: #595A5C;
alternate-active-foreground: #DCDDDD;
alternate-normal-background: #181818;
alternate-normal-foreground: #DCDDDD;
alternate-urgent-background: #181818;
alternate-urgent-foreground: #DCDDDD;

selected-active-background: #636466;
selected-active-foreground: #181818;
selected-normal-background: #636466;
selected-normal-foreground: #181818;
selected-urgent-background: #595A5C;
selected-urgent-foreground: #181818;

background-color: #181818;
background: rgba(0,0,0,0.7);
foreground: #DCDDDD;
border-color: #636466;

color0: #3F3F3F;
color1: #17181A;
color2: #1D1E1F;
color3: #434445;
color4: #4A4B4C;
color5: #69696B;
color6: #757677;
color7: #C5C6C7;
color8: #8A8A8B;
color9: #1F2022;
color10: #27282A;
color11: #595A5C;
color12: #636466;
color13: #8B8C8E;
color14: #9C9D9F;
color15: #C5C6C7;


}

