 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #8796A8;
active-foreground: #F2E8D7;
normal-background: #161717;
normal-foreground: #F2E8D7;
urgent-background: #ADC1D8;
urgent-foreground: #F2E8D7;

alternate-active-background: #57616D;
alternate-active-foreground: #F2E8D7;
alternate-normal-background: #161717;
alternate-normal-foreground: #F2E8D7;
alternate-urgent-background: #161717;
alternate-urgent-foreground: #F2E8D7;

selected-active-background: #8796A8;
selected-active-foreground: #161717;
selected-normal-background: #8796A8;
selected-normal-foreground: #161717;
selected-urgent-background: #57616D;
selected-urgent-foreground: #161717;

background-color: #161717;
background: rgba(0,0,0,0.7);
foreground: #F2E8D7;
border-color: #8796A8;

color0: #3D3E3E;
color1: #17191C;
color2: #4B3F22;
color3: #424951;
color4: #65717E;
color5: #8291A2;
color6: #A48E6A;
color7: #E4D6BE;
color8: #A09585;
color9: #1E2225;
color10: #64542E;
color11: #57616D;
color12: #8796A8;
color13: #ADC1D8;
color14: #DABD8D;
color15: #E4D6BE;


}

