 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #3F95D4;
active-foreground: #F9E6DC;
normal-background: #18191F;
normal-foreground: #F9E6DC;
urgent-background: #A4A7C2;
urgent-foreground: #F9E6DC;

alternate-active-background: #1D5CAD;
alternate-active-foreground: #F9E6DC;
alternate-normal-background: #18191F;
alternate-normal-foreground: #F9E6DC;
alternate-urgent-background: #18191F;
alternate-urgent-foreground: #F9E6DC;

selected-active-background: #3F95D4;
selected-active-foreground: #18191F;
selected-normal-background: #3F95D4;
selected-normal-foreground: #18191F;
selected-urgent-background: #1D5CAD;
selected-urgent-foreground: #18191F;

background-color: #18191F;
background: rgba(0,0,0,0.7);
foreground: #F9E6DC;
border-color: #3F95D4;

color0: #3F4047;
color1: #071229;
color2: #0A1E4D;
color3: #164582;
color4: #2F709F;
color5: #7B7D92;
color6: #B38A74;
color7: #EED3C4;
color8: #A79489;
color9: #091837;
color10: #0D2867;
color11: #1D5CAD;
color12: #3F95D4;
color13: #A4A7C2;
color14: #EEB89A;
color15: #EED3C4;


}

